In [26]:
fruits=['banana','apple','grapes']

In [27]:
fruits

['banana', 'apple', 'grapes']

In [28]:
len('fruits')

6

In [29]:
#indexing
fruits[2
       ]

'grapes'

In [30]:
for fr in fruits:
    print(len(fr))

6
5
6

In [31]:
nums=[223,564,237,76,23,6]
for n in nums:
    if n%2==0:
        print(f"number{n} is even")
    else:
        print(f'number{n} is odd')

number223 is odd
number564 is even
number237 is odd
number76 is even
number23 is odd
number6 is even

In [32]:
s=0
for n in nums:
    s=s+n
print(s)

1129

In [33]:
sum(nums)

1129

In [34]:
s=0
nums=[223,564,237,76,23,6]
for n in nums:
    if n%2==0:
        s=s+n
print(s)

646

In [35]:
#program to find the average of list values
s=0
nums=[18,1818,181818]
for i in nums:
    s=s+i 
print(s/len(nums))

61218.0

In [36]:
#take the list of movies and print those whch have lenght less than 5
movies=["intersteller","inception","ten","insomania","hell","haha"]
for io in movies:
    if  len(io)<5:
        print("movie has less then five words",io)

movie has less then five words ten
movie has less then five words hell
movie has less then five words haha

In [37]:
#print sum of square of all the numbers in the list
s=0
digi=[3,4,5,6,7,8,9,10]
for di in digi:
    s=s+(di**2)
print(s)

380

In [1]:
name= input("enter a name:")
for i in range(4):
    if ("a,e,i,o,u,A,E,I,O,U") in name:
        print("name contain vowel")
else:
    print("name contain consonant")

name contain consonant

2* 0 = 0
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20
2* 11 = 22
2* 12 = 24
2* 13 = 26
2* 14 = 28
2* 15 = 30
2* 16 = 32
2* 17 = 34
2* 18 = 36
2* 19 = 38

In [48]:
a=(1,1,1,1,2,2,2,2,4,4,5,6,4,5,6,5,69,4,5,12,5,5,1,65,45)
print(set(a))

{1, 2, 65, 4, 5, 6, 69, 12, 45}

In [ ]:
d=2
for i in range(20):
    print("2*",i,"=",d*i)