In [1]:
a=10
print(a,type(a))
a=10.2
print(a,type(a))
a="hello"
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))
a={1,2,3}
print(a,type(a))
a=[1,2,3]
print(a,type(a))
a=(1,2,3)
print(a,type(a))
a={'a':1,'b':2}
print(a,type(a))

10 <class 'int'>
10.2 <class 'float'>
hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
{1, 2, 3} <class 'set'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
{'a': 1, 'b': 2} <class 'dict'>

In [2]:
#print
a=23
b=34
print("sum of a and b=",a+b)
print(a,b,a+b,sep='\n')

sum of a and b= 57
23
34
57

In [3]:
c=a+b
print(a,end=',')
print(b)
print(c)

23,34
57

In [4]:
for i in range(50):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [5]:
#del is used to delete the variable

In [6]:
print=45

In [7]:
print(50)

TypeError: 'int' object is not callable

In [ ]:
del print

In [ ]:
name="vinayak"
age=22
city="lucknow"
print(f'my name is{name},i am {age} year old,i live in {city}')

my name isvinayak,i am 22 year old,i live in lucknow

In [ ]:
del print

In [ ]:
x=10
y=54
z=x/y
print(f'{x}/{y}={z:.2f}')
#or
print(x,'/',y,"=",round(z,2))

10/54=0.19
10 / 54 = 0.19

In [ ]:
n1='sara'
n2='eliza'
n3='sam'
a1,a2,a3=22,23,23
print(f'{n1:10}{a1}')
print(f'{n2:10}{a2}')
print(f'{n3:10}{a3}')

sara      22
eliza     23
sam       23

In [ ]:
a=55
b=60
print(f"num ={a} and {b}")

num =55 and 60

In [ ]:
a=input("enter the name")
if len(a)==4:
    print("hello")
if len(a)==3:
    print("hello2")    
else:
    print("bye")

bye

if len(a)==4 print(hello),else print("bye)

In [ ]:
a =int(input("enter a number"))
if a%2==0:
    print("a is even number") 
else:
    print("a is not even number")

a is not even number

In [ ]:
a,b,c=2,5,6
if a>b and a>c:
    print("a is greater")
elif b>a and b>c:
    print("b is greater")
else:
    print("c is greater")

c is greater

In [ ]:
day= input("enter day:")
match(day):
    case 'monday': print("monday it is")
    case 'tuesday': print("tuesday it is")

In [ ]:
p=int(input("enter the principal:"))
r=int(input("enter the rate:"))
t=int(input("enter the time:"))
print("si =",p*r*t/100)

si = 1133.2

In [ ]:
x=12345
x.reverse()
)