dictionary is the combination of key and values or a pair of key and value is known as dictionary
d={key:value ,key:value}

In [8]:
d={'vinayak':23,'lucky':20,'aryan':22,'shubham':24,'Nikhil':25,'awasthi':45}
print(d)
print(d['shubham'])

{'vinayak': 23, 'lucky': 20, 'aryan': 22, 'shubham': 24, 'Nikhil': 25, 'awasthi': 45}
24

In [9]:
if 'total' in d:
    print(d['total'])
else:
    print('total nhi hai')

total nhi hai

In [10]:
d.get('lucky')

20

In [13]:
d['harsh']='21'
print(d)

{'vinayak': 23, 'lucky': 20, 'aryan': 22, 'shubham': 24, 'Nikhil': 25, 'awasthi': 45, 'harsh': '21'}

In [3]:
r= int(input('please enter number of students:'))
i=1
record={}
while i<r:
    name= input('enter the name:')
    pmark=input('enter the marks')
    record[name]= pmark
    i= i+1
print('name of student\t',pmark)    
for x in record:
    print('\t',x,'\t\t',record[x])

name of student	 45

In [34]:
#remove the last item of dictionary
d.popitem()

('harsh', '21')

In [5]:
d={'apple':'200','banana':'100','grapes':'300','orange':'150'}
if 'apple' in d:
    print('total in d')
else:
    print('not in dictionary')

total in d

In [6]:
d['papaya']='250'
print(d)

{'apple': '200', 'banana': '100', 'grapes': '300', 'orange': '150', 'papaya': '250'}

In [7]:
d.get('apple')

'200'

In [10]:
#set default
a={'vinayak':23,'lucky':20,'aryan':22,'shubham':24,'Nikhil':25,'awasthi':45}
print(a.setdefault('vinay','20'))
print(a)

20
{'vinayak': 23, 'lucky': 20, 'aryan': 22, 'shubham': 24, 'Nikhil': 25, 'awasthi': 45, 'vinay': '20'}

In [11]:
print(len(a))

7

In [12]:
a1={'vinayak':23,'lucky':20,'aryan':22,'shubham':24,'Nikhil':25,'awasthi':45}
a2={'apple':'200','banana':'100','grapes':'300','orange':'150'}
a1.update(a2)
print(a1)

{'vinayak': 23, 'lucky': 20, 'aryan': 22, 'shubham': 24, 'Nikhil': 25, 'awasthi': 45, 'apple': '200', 'banana': '100', 'grapes': '300', 'orange': '150'}

In [1]:
my_dict = {'apple': 3, 'banana': 1, 'aherry': 2}

sorted_keys = sorted(my_dict.keys())
for key in sorted_keys:
    print(key, my_dict[key])

aherry 2
apple 3
banana 1

In [15]:
my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}
a=list(my_dict)
a.sort()
print(a)

['apple', 'banana', 'cherry']

In [2]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
a= int(input(('enter the number:')))
if a in d:
    print(a,'in dict d')
else:
    print(a,'not i d')

5 in dict d