dictionary is the combination of key and values or a pair of key and value is known as dictionary
d={key:value ,key:value}

In [8]:
d={'vinayak':23,'lucky':20,'aryan':22,'shubham':24,'Nikhil':25,'awasthi':45}
print(d)
print(d['shubham'])

{'vinayak': 23, 'lucky': 20, 'aryan': 22, 'shubham': 24, 'Nikhil': 25, 'awasthi': 45}
24

In [9]:
if 'total' in d:
    print(d['total'])
else:
    print('total nhi hai')

total nhi hai

In [10]:
d.get('lucky')

20

In [13]:
d['harsh']='21'
print(d)

{'vinayak': 23, 'lucky': 20, 'aryan': 22, 'shubham': 24, 'Nikhil': 25, 'awasthi': 45, 'harsh': '21'}

In [27]:
r= int(input('please enter number of students:'))
i=1
record={}
while i<r:
    name= input('enter the name:')
    pmark=input('enter the marks')
    record[name]= pmark
    i= i+1
print('name of student\t',pmarks)    
for x in record:
    print('\t',x,'\t\t',record[x])

ValueError: invalid literal for int() with base 10: 'j'

In [34]:
#remove the last item of dictionary
d.popitem()

('harsh', '21')

In [ ]:
#sorting