syntax
*****
def function[parameter]:
statement1
statement2
...
statement n
[return expression]

*****

In [3]:
#example
def area(width,lenght):
    a=width*height
    return a

-Based on parameter and return value
1-no parameter,no return value
2-no parameter ,return value
3-parameter,no return value
4-parameter and return value

 
- based on parameter type
    1. required parameter
    2. keywrods parameter
    3. default parameter
    4. variable length parameter (*args)
    5. variable keyword arguments (**kwargs)


- other types of function
    1. lambda function
    2. generator function
    3. recursive function

In [2]:
#value returning function 
def area():
    l=int(input('enter the value'))
    b=int(input('enter the value'))
    return l*b

In [5]:
ans=area()
print(ans)
print(ans*100)

2000
200000

In [7]:
def maths():
    p=int(input('enter the value'))
    r=int(input('enter the value'))
    t=int(input('enter the value'))
    si=p*r*t/100
    amt=p+si 
    add=p+r+t
    sub=p-r-t
    return si,amt,add,sub

In [8]:
result=maths()
print('subtracted value=',result[3])

subtracted value= -150

In [9]:
si,amt,add,sub=maths()
print('subtracted value=',sub)

subtracted value= 0

In [10]:
def is_armstrong_number(number):
    num_str = str(number)
    num_digits = len(num_str)
    sum_of_digits = sum(int(digit) ** num_digits for digit in num_str)
    if sum_of_digits == number:
        return True
    else:
        return False
num = int(input("Enter a number: "))
if is_armstrong_number(num):
    print(num, "is an Armstrong number.")
else:
    print(num, "is not an Armstrong number.")

1634 is an Armstrong number.

In [13]:
def is_armstrong(number):
    t = number
    s = 0
    pw = len(str(number))
    while number > 0:
        r = number % 10
        s = s + r ** pw
        number = number//10
    return t == s

In [16]:
x = int(input('enter a number'))
print(is_armstrong(x))

False

In [17]:
for i in range(100,9999):
    if is_armstrong(i):
        print(i)

153
370
371
407
1634
8208
9474

In [27]:
def adder(a,b,c):
    return a+b+c 
print(adder(40,50,10))    
print(adder(a=10,c=20,b=30))
print(adder(20,c=30,b=40))

100
60
90

In [32]:
def multiplier(a,b,c=1):
    return a*b*c 
print(multiplier(20,30))
print(multiplier(20,30,40))
print(multiplier(20,30,c=300))

600
24000
180000

In [36]:
from string import punctuation
def cleaner(data, chars=None):
    if chars is None:
        chars= punctuation
    for c in chars:
        data=data.replace(c,'')
    return data

In [37]:
cleaner('vina%&^*&**%^&^yak')

'vinayak'

In [2]:
def multiplier(*nums):
    result=1
    for num in nums:
        result=num*result
    return result

In [3]:
print(multiplier(20,30,40))

24000

In [50]:
def aggregation (*x,action='sum'):
    if action=='sum':
        return sum(x)
    elif action =='count':
        return len(x)  
    elif action == 'mean':
        return   sum(x)/len(x)

In [51]:
aggregation(20,50,40,action='mean')

36.666666666666664

In [5]:
def sorter(*data, type='number'):
    if type == 'number':
        clean_data = []
        for i in data:
                if isinstance(i,int) or isinstance(i,float):
                    clean_data.append(i)
        clean_data.sort()
        return clean_data
    else:
        return none

In [6]:
sorter(44,78,65,41)

[41, 44, 65, 78]

In [7]:
def display (**data):
    print('your data')
    total=0
    for k,v in data.item:
        print(f"{k:10}{v}")
        total+= v
    print("*"*20)
    print(f"total: rs.{total}")
    print('*'*20)

[8, 27, 64, 343]

In [14]:
g = lambda x,y : x**3 + y**4 + x*y -1
print(g(1,2))

18

In [18]:
h= lambda x,y : x**2 +y**2 + 2*x*y
print(g(2,2))

27

In [22]:
pythagoras = lambda a, b: (a**2 + b**2)**0.5
print(pythagoras(13,14))

19.1049731745428

In [28]:
x=[2,5,4,7,]
x3 = list(map(lambda i: i**3 ,x))
print(x3)

[8, 125, 64, 343]

In [27]:
 y=[2,3,4,7]
 square=[ x ** 3 for x in y]
 print(square)

[8, 27, 64, 343]

In [32]:
a=[2,3,5,6,48,2,2,1,2,1,2]
b= list(filter(lambda i : i%2==0, a))
print(b)

[2, 6, 48, 2, 2, 2, 2]

In [33]:
 from random import randint

In [34]:
def random_range(s,e,size=10):
    for i in range(size):
        yield randint(s,e)

In [39]:
for i in random_range(1,20,4):
    print(i, end='  ')

20  3  19  19