In [2]:
for  i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [3]:
data=[4,5,7,8,9]
#traversal of list
for i in data:
    print(i,end="")

45789

In [8]:
price=[500,None,600,800,700]
for i in price:
    if i is None:
        continue
    print(i)

500
600
800
700

In [11]:
price=[500,None,600,800,700]
for i in price:
    if i is None:
        break
    print(i)

500

In [16]:
for i in range(1,6):
 print(i)
for j in range(1,4):
 print(i+j,end=" ")
print()

1
2
3
4
5
6 7 8

In [ ]:
n=int(input('enter the no of rows:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

In [3]:
#creating a table using nested loop
for i in range(2,5):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40