In [2]:
for  i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [3]:
data=[4,5,7,8,9]
#traversal of list
for i in data:
    print(i,end="")

45789

In [8]:
price=[500,None,600,800,700]
for i in price:
    if i is None:
        continue
    print(i)

500
600
800
700

In [11]:
price=[500,None,600,800,700]
for i in price:
    if i is None:
        break
    print(i)

500

In [16]:
for i in range(1,6):
 print(i)
for j in range(1,4):
 print(i+j,end=" ")
print()

1
2
3
4
5
6 7 8

In [1]:
n=int(input('enter the no of rows:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

ValueError: invalid literal for int() with base 10: ''

In [3]:
#creating a table using nested loop
for i in range(2,5):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [1]:
names=['mayank','yash','vinayak','nikhil']
for name in enumerate(names):
    print(name)

(0, 'mayank')
(1, 'yash')
(2, 'vinayak')
(3, 'nikhil')

In [2]:
for idx,name in enumerate(name):
    print(idx,name)

0 3
1 nikhil

In [7]:
x=[1,2,3,4,5,5,5]
for i,v in enumerate(x):
    if i==10:
        break
    print(v)

1
2
3
4
5
5
5

In [6]:
#enumerates
x=[1,2,3,4,5,5,5,5,8,5,2,7,5,9]
for i in enumerate(x):
    if i==5:
        break
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 5)
(6, 5)
(7, 5)
(8, 8)
(9, 5)
(10, 2)
(11, 7)
(12, 5)
(13, 9)

In [9]:
x=[1,2,3,4,5]
y=[2,5,8,7,8]
z=[9,8,7,6,4]
for i,j,k in zip(x,y,z):
    print(i,j,k)

1 2 9
2 5 8
3 8 7
4 7 6
5 8 4

In [10]:
#zip The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc
x=[1,2,3,4,5]
y=[2,5,8,7,8]
z=[9,8,7,6,4]
for i,j,k in zip(x,y,z):
    print(i+j+k)

12
15
18
17
17

In [18]:
#for else if all the iteration completed without any break statement,then the else part is executed else part is not executes if the loop is terminateed by a break statement
a=[1,2,3,4,5,6]
for i in a:
    if i==5:
        break
    print(i)
else:
    print('loop ended')

1
2
3
4

In [17]:
num=123
for i in range(2,num):
    print(f'{num}%{i}={num%i}')
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

123%2=1
123%3=0
not prime

while loop