In [1]:
#tuple
a=(11,2,3,4,5)
print(type(a))

<class 'tuple'>

In [4]:
a=(11,2,3,4)
w,x,y,z=a
print(w,x,y,z)
first,*rest=a
print(first,rest)

11 2 3 4
11 [2, 3, 4]

In [6]:
x=('apple','banana','cherry','banana')
print(x.count('banana'))

2

In [13]:
x=[1,2,3,4,1,5,5]
xt=tuple(x)
print(xt)
y=set(x)
print(y)
print(xt,y)

(1, 2, 3, 4, 1, 5, 5)
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 1, 5, 5) {1, 2, 3, 4, 5}

set

In [14]:
a={1,3,5,6,7,3,4,5,5,5,5,3,3,3,2,2,2,1}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
b=set() #empty set
b.add('hello')
b.add('congrats')
print(b)
b.update({'yellow','cello'})
print(b)
b.discard('hello')
print(b)

{'hello', 'congrats'}
{'cello', 'hello', 'yellow', 'congrats'}
{'cello', 'yellow', 'congrats'}

In [34]:
a={1, 2, 3, 4, 1, 5, 5}
b={1, 2, 3, 4, 5,6,7,8,9}
a.union(b)

print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
a.symmetric_difference(b)
b.isdisjoint(a)

{1, 2, 3, 4, 5}
set()
{8, 9, 6, 7}

False

In [1]:
print('hello world')

hello world